.app-header {
    background-color: #263238;
    height: 50px;
    padding: 8px 32px 8px 16px;
}

.app-logo {
    color: #fff;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}
